form{
  width: 90%;
  padding:.5em;
}

label{
  clear: both;
  display: block;
  margin:5px 0 2px 0;
  font-weight: medium;
  font-size: 14px;
}

span.hint{
  color:#B2AFA7;
  font-size: 10px;
}

label.inline, input.inline, select.inline{
  display: inline;
  width: auto;
}

input[type="radio"], input[type="checkbox"]{
  display: inline;
}

input[type="text"].big, input[type="password"].big{
  font-size: 16px;
  width: 70%;
}

input[type="text"],input[type="password"], select{
  margin:5px 0;
  padding:3px;
  width: 40%;
  display: block;
}

input[type="submit"]{
  clear: both;
  display: block;
  width:auto;
}

input[type="checkbox"], input[type="radio"]{
  clear: both;
}

fieldset{
  margin:20px 0;
  clear:both;
  padding:10px;
  border:1px solid #ccc;
}

/* auto clear for modern browsers */
fieldset:after{ 
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0; 
  clear: both; 
  visibility:hidden; 
}

/* auto clear for the browser that could... this needs the css_browser_select js script */

legend{
  margin-top:0 5px;
}

textarea{
  width: 60%;
  margin:5px 0;
  padding:3px;
}

/* zebra stripes */
.alt{background:#FFEDB8;}

/*** Standard AR Error message styles ***/

div.errorExplanation{
  border:1px solid #FF0000;
  background-color:#fbfbfa;
  padding: 10px;
  margin:10px;
}

div.errorExplanation ul{
  padding: 5px 30px;
  list-style: square outside;
}


div.errorExplanation h2, div#errorExplanation h2{
  background-color:#FF0000;
  color:#fff;
  margin:-10px -10px 10px -10px;
  padding:3px;
  color:#fff;
  font-size:14px;
}

div.errorExplanation p{
  margin:5px;
}

div.errorExplanation ul{
  font-size:.75em;
}

div.fieldWithErrors{
  border-left:5px solid #FF0000;
}
  
/*** jquery.validate error styles ***/

label.error{
  padding-top:3px;
  padding-left:5px;
  font-weight:bold;
  font-size: .85em;
  color:#E82719;
  text-decoration: underline;
}

input.error{
  border: 1px solid #E82719;
}
